<ng-container *ngIf="frame; else noFrame">
  <div class="frame" (mouseleave)="leaveImage()">
    <img [src]="frame.path" #img (mousemove)="zoomImage($event)" >
    <div class="frame-lens" #lens [ngStyle]="lensStyle"></div>
    <div class="zoomed-image" [ngStyle]="resultStyle" #zoomedImg></div>
  </div>
  <div class="frame-details" [innerHTML]="frame.details"></div>
</ng-container>

<ng-template #noFrame>
  <h2>
    Please select a frame from the list
  </h2>
</ng-template>
