.frame {
  width: 100%;
  height: 80%;
  position: relative;
  text-align: left;
}

.frame img {
  max-width: 100%;
  max-height: 100%;
}

.frame-tags {
  width: 100%;
  height: 20%;
}

h2 {
  padding: 2rem 0;
  text-align: center;
}

.frame-details {
  padding: 1rem;
}

.frame-lens {
  position: absolute;
  border: solid thin var(--blue);
  display: none;
  width: 4rem;
  height: 4rem;
}

.zoomed-image {
  position: absolute;
  display: none;
  right: -30rem;
  top: 0;
  z-index: 2;
  height: 30rem;
  width: 30rem;
}
