/* You can add global styles to this file, and also import other style files */

:root {
  --blue: #0a78ef;
  --green: #69bd27;
}

html, body {
  width: 100%;
  height: 100%;
  font-size: 15px;
  margin: unset;
  overflow: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* {
  margin: unset;
  box-sizing: border-box;
}
