<div class="container">
    <nav>
      <ul>
        <li [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</li>
        <li [routerLink]="['/tag']" routerLinkActive="active" >Tag frames</li>
      </ul>
    </nav>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
</div>
