.container {
  width: 100%;
  height: 100%;
  background: var(--blue);
  color: white;
}

nav {
  width: 100%;
  height: 4rem;
  background-color: white;
  color: var(--blue);
}

.content {
  width: 100%;
  height: calc(100% - 4rem);
}

ul {
  list-style: none;
  margin: unset;
  padding: 1rem 2rem;
}

li {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bolder;
  line-height: 2rem;
  padding: 0 .5rem;
  margin: 0 1.5rem;
  cursor: pointer;
  line-height: 1.5;
}

li:hover, li.active {
  border-bottom: solid medium var(--blue);
}
