.tag-collection {
  border: solid thin var(--blue);
  padding: .4rem .7rem .6rem;
  border-radius: 1rem;
  margin-bottom: .4rem;
  position: relative;
}


.tag-collection.required {
  background: var(--blue);
}


.tag-collection span.required {
  position: absolute;
  top: .3rem;
  right: .5rem;
}

.tag-collection.required span.required {
  color: white;
}


.tag-collection h3 {
  color: black;
  margin-bottom: .2rem;
}

.tag-collection h3 span {
  color: #888;
  font-weight: normal;
}

.tag-collection .tag {
  display: inline-block;
  font-weight: bolder;
  color: white;
  cursor: pointer;
  background: var(--blue);
  padding: 0 .4rem .1rem;
  border-radius: .2rem;
  margin: 0 .5rem .5rem 0;
}

.tag-collection.required .tag {
  background: white;
  color: var(--blue);
}

.tag-collection .tag:hover, .tag-collection .tag.selected {
  background: var(--green);
  color: white;
}

.button-container {
  text-align: center;
}

button {
  text-align: center;
  padding: .2rem 1rem .25rem;
  background: var(--blue);
  color: white;
  border: solid thin var(--blue);
  font-weight: bolder;
  border-radius: .5rem;
}

button:disabled {
  opacity: .4;
}
