<ng-container *ngIf="tagCollections?.length; else noTags">
  <div class="tag-collection" *ngFor="let collection of tagCollections" [ngClass]="{'required': collection.required}">
    <h3>{{ collection.name }}</h3>
    <span class="required">{{ collection?.required ? '(required)' : '(optional)'}}</span>
    <span
    class="tag"
    [ngClass]="{'selected': isSelected(collection.value, option.value)}"
    *ngFor="let option of collection.options"
    (click)="tagSelected(collection.value,option.value)"
    >{{option.label}}</span>
  </div>
  <div class="button-container">
    <div>{{displayMessage}}</div>
    <button (click)="saveAnnotations()" [disabled]="cannotSave">Save</button>
  </div>
</ng-container>
<ng-template #noTags>
  <h2>Loading tags...</h2>
</ng-template>
