.bench {
  width: 100%;
  height: calc(100% - 200px);
}

.bench > div {
  display: inline-block;
  vertical-align: top;
  background: white;
  border: solid thick var(--blue);
  color: var(--blue);
  height: 100%;
}

.frame-container {
  height: 100%;
  width: 60%;
}

.tag-container {
  width: 40%;
  padding: 1rem;
}

.frame-list {
  background: white;
  border: solid thick var(--blue);
  width: 100%;
  height: 200px;
  overflow-x: auto;
  overflow-y: hidden;
}
