<div class="bench">
  <div class="frame-container">
    <app-frame-canvas></app-frame-canvas>
  </div>
  <div class="tag-container">
    <app-frame-tags></app-frame-tags>
  </div>
</div>
<div class="frame-list">
  <app-frame-list></app-frame-list>
</div>
