.container {
  width: max-content;
  height: 100%;
  padding: .5rem;
}

.frame {
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
  opacity: .4;
  height: 100%;
  border: solid thin var(--blue);
  border-radius: .5rem;
  margin: 0 1rem 0 0;
}

.frame:hover,
.frame.active {
  opacity: 1;
}
