.container {
  padding: 2rem;
  text-align: center;
  height: 100%;
}

h1 {
  display: inline-block;
  vertical-align: middle;
  font-size: 4rem;
  line-height: 8rem;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}
